/* ============ ROLETA ============ */
.roleta-wrapper{position:relative;margin:30px auto;width:fit-content;}
#roletaCanvas{
    border-radius:50%;
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
    border:3px solid #4F6815;
}
.ponteiro{
    position:absolute;
    top:-25px;
    left:50%;
    transform:translateX(-50%);
    font-size:2em;
    color:#75070C;
    z-index:10;
    filter:drop-shadow(2px 4px 0 #4F6815);
}

@media (max-width:600px){
    .roletaWrapper{display:flex;justify-content:center;}
    #roletaCanvas{width:280px!important;height:280px!important;max-width:100%;}
    .ponteiro{top:-20px;font-size:1.5em;}
}
@media (max-width:480px){
    #roletaCanvas{width:250px!important;height:250px!important;}
}